@page "/"
@inject NitroTypeApiClient NitroTypeApiClient

<div style="margin: 0 auto; text-align: center;">
    <h1 style="color: red">Keyboard Elite Cats [KECATS]</h1>
    <h1>Current season statistics</h1>
    <img alt="cat" src="cat.webp"/>

    <p>Necessary text length for 1 error leaving 100% accuracy: <span style="font-weight: bold;">192</span> (or 90 WPM)</p>

    <table class="cats-table">
        <thead>
        <tr>
            <th>Cat name</th>
            <th>Accuracy</th>
            <th>Average speed</th>
            <th>Average text length</th>
            <th>Characters typed (errors)</th>
            <th>Races</th>
            <th>Time spent</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var cat in cats)
    {
        <tr>
                <td>@cat.Name</td>
                <td>@cat.Accuracy.ToString("#.####") <span class="@cat.AccuracyClass">@cat.AccuracyImprovementString</span></td>
                <td>@cat.AverageSpeed.ToString("#.##")</td>
                <td>@cat.AverageTextLength.ToString("#.##")</td>
                <td>@cat.typed (@cat.errs)</td>
                <td>@cat.played</td>
                <td>@cat.TimeSpent</td>
            </tr>
    }
        </tbody>
    </table>
</div>

@code {
    private IEnumerable<CatInfo> cats = [];

    protected override async Task OnInitializedAsync()
    {
        cats = (await NitroTypeApiClient.GetCatsInfoAsync())
            .OrderByDescending(c => c.Accuracy);
    }
}
